@font-face {
    font-family: 'dejavu_sansbook';
    src: url('fonts/DVUS.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'dejavu_sansbook_extraligh';
    src: url('fonts/DVUS-L.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html, body, .grid-container {
    height: 100%; 
    margin: 0;
    color: white;
    font-family: dejavu_sansbook_extraligh;
}

.grid-container {
  display: grid;
  grid-template-columns: 100px 1.8fr;
  grid-template-rows: 1fr;
  grid-template-areas: "nav main";
}

.main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 1.8fr;
  grid-template-areas: "header" ".";
  grid-area: main;

  background: #214263;
}

.main .content {
    padding: 20px;
}

.header {
    grid-area: header;
    background: #18344d;

    height: 100%;
    display: table;
}

.header h2 {
    vertical-align: middle;
    display: table-cell;
    padding-left: 20px;
}

.header h2.right {
    text-align: right;
    padding-right: 20px;
}

.nav {
    grid-area: nav;

    background: #18344d;
}

.nav ul {
    text-align: center;
}

ul {
    list-style: none;
    float: right;
    margin: 0;
}

li {
    margin-bottom: 10px;
    width: 100px;
    line-height: 100px;
}

.nav li a {
    text-decoration: none;
    color: #52c6f6;
    width: 100%;
    display: block;
    font-size: 25px;

    transition: background 0.2s linear,
    color 0.2s linear;

}

.nav li a:hover {
    color: #222;
    background-color: #52c6f6;
}

.box {
    background: #18344d;
    height: 60px;

    line-height: 60px;
    padding-left: 20px;

    margin-bottom: 20px;

    font-size: 20px;
}

.box > .button {
    width: 60px;
    text-align: center;
    font-size: 35px;
    float: right;
    margin-left: 10px;
}

/* COLORS */

.dark-blue-bg {
    background: #18344d;
}

.green-bg {
    background: #10adad;
}

.red-bg {
    background: #e74a63;
}

.yellow-bg {
    background: #f4aa4d;
}

.dark-blue {
    color: #18344d;
}

.green {
    color: #10adad;
}

.red {
    color: #e74a63;
}

.yellow {
    color: #f4aa4d;
}